.header,
.editor,
.main
{
    border: .5px dotted rgba(0, 0, 0, 0);
    width: 90%;
}

/* -ЗАГОЛОВОК- */
.header{
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.header p{
    margin: auto;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid;
    cursor: default;
}

/* -НАСТРОЙКА И ОСТАТОК ПОПЫТОК- */
.editor{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
}

.editor span{
    cursor: default;
}

.input-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-bottom: 5px;
}

#txtInput{
    width: 60px;
}

#attempts{
    display: block;
    font-size: 21px;
    font-family: cursive;
}

#win-lose{
    display: block;
    font-size: 18px;
    font-family: cursive;
}

#wins{
    position: relative;
}

#win-score{
    display: inline-block;
    position: relative;
    color: palegreen;
    border-bottom: 0.5px dotted rgba(0, 0, 0, 0.49);
    cursor: pointer;
}

#win-tooltop{
    display: none;
    position: absolute;
    left: 0px;
    top: 27px;
    z-index: 1;
    font-size: 13px;
    color: white;
    background-color: #607d8b;
    padding: 3px 8px;
    border-radius: 0.4em;
    width: 80px;
    opacity: 0.9;
}

#loses{
    position: relative;
}

#lose-score{
    display: inline-block;
    position: relative;
    color: orangered;
    border-bottom: 0.5px dotted rgba(0, 0, 0, 0.49);
    cursor: pointer;
}

#lose-tooltop{
    display: none;
    position: absolute;
    left: 0px;
    top: 27px;
    z-index: 1;
    font-size: 13px;
    color: white;
    background-color: #607d8b;
    padding: 3px 8px;
    border-radius: 0.4em;
    width: 110px;
    opacity: 0.9;
}

/* -ОСНОВНОЙ БЛОК С КАРТОЧКАМИ- */
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 5px;
}

#guess-box{
    margin: 5px;
    text-align: center;
    transition: 300ms;
}

#guess-box:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.img-box{
    width: 100px;
    height: 150px;
    line-height: 140px;
    cursor: pointer;
    transition: 350ms;
}

.img-text{
    display: none;
    font-weight: bold;
}
